a {
  text-decoration: none;
}

.App {
  position: relative;
  color: #eee;
  background-color: #000;
  padding-top: 1px;
}

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #000;
  border: 1px solid #eee;
  border-radius: .5rem;
  color: #eee;
  text-decoration: none;
}

.list--vehicles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 1200px) {
  .list--vehicles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}